*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html,body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #038c5a;
  padding: 5px 2%;
  height: 80px;
}
.legenda-bolinha {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}
.titulo-sessao h1 {
  margin-top: 90px;
  font-size: 30px;
  margin-left: 70px;
}
.titulo-sessao h2 {
  margin-top: 50px;
  margin-left: 70px;
  font-size: 20px;
}
ul{
  list-style: none;
  
}
.legenda{
  margin-left: 60%;
  margin-top: -40%;
}
.legenda-bolinha-vermelha {
  background-color: red;
}

.legenda-bolinha-verde {
  background-color: green;
}

.legenda-bolinha-azul {
  background-color: blue;
}
.legenda-bolinha-amarela{
  background-color: #bf7300;
}
.legenda-bolinha-roxo{
  background-color: #990099;
}

#logo{
  height: 7px;
  padding: 7px 2%;
  height: 80px;
  margin-top: -45px;
}

.logo h2 {
  font-size: 15px;
  float: right;
  color: white;
  margin-top: 85px;
  text-align: center;
  display: flex;
  margin-top: 13%;
  margin-left: 20px;
}

.icon-header h2 { 
  font-size: 15px;
  float: right;
  color: white;
  margin-top: 85px;
  text-align: center;
  display: flex;
  margin-top: 15%;
  margin-left: 20px;
}


.info-header {
  color: black;
  display: flex;
  justify-content: space-between;
  margin: auto 10px;
  margin-top: 5px;
}

.logo {
  margin-top: 5px;
}

.icon-header img {
  height: 40px;
  width: 40px;
  margin-top: 10%;
}

.main {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.main {
  background-color: rgb(212, 225, 212);
}


.sidebar {
  width: 17%;
  height: 100%;
  background-color: #d2d2db;
  padding: 0 8px;
}

.sidebar h1 {
  color: black;
  font-size: 20px;
  margin-left: 20%;
  margin-top: 20px;
}

.sidebar a {
  display: block;
  text-decoration: none;
  font-size: 17px;
  margin-top: 35px;
  margin-left: 30px;
  color: black;

}

.titulo-sessao h1 {
  margin-top: 50px;
  font-size: 30px;
  margin-left: 70px;
}

.grafico {
  margin-top: -500px;
}

.titulo-sessao h2 {
  margin-top: 50px;
  margin-left: 70px;
  font-size: 20px;
}

.content {
  width: 80%;
  background-color: rgb(212, 225, 212);
  height: 100%;

}

.info-box {
  font-size: 20px;
  margin-top: 5%;
  margin-left: 10%;
}


.info-single {
  background-color: rgb(110, 133, 133);
  border-radius: 15px;
  width: 90%;
  height: 300px;
}

.info-box h1 {
  font-size: 20px;
  margin-bottom: 10px;
}
