body {
  background-color: #7DA88E;
  margin:0; padding:0;
 box-sizing: border-box;
 outline: none; border:none;
 text-decoration: none;
 transition: all 0.9s linear;
 text-transform: capitalize;
  
}
:root {
  --color-primary: #000000;
  --color-white: #e9e9e9;
  --color-black: #7DA88E;
  --color-black-1: #212b38;
}
#barra{
margin-top: 60px;
position: absolute;
margin-bottom: 180px;
}
.cliente-acess h1{
font-size: 15px;
color: white;
margin-left: 100%;
margin-top: 00px;

}
#logo-cliente{
width: 30px;
height: 30px;
margin-left: 1210px;
margin-top: -165px;
}
.menu-bar2 ul {
list-style: none;
display: flex;
font-size: 15px;
margin-left: 1200px;
margin-top: -101px;
}

.menu-bar2 ul li {
/* width: 120px; */
padding: 0px 10px;
/* text-align: center; */
position: relative;
margin-left: 30px;
}

.menu-bar2 ul li a {
font-size: 15px;
color: var(--color-white);
text-decoration: none;

transition: all 0.3s;
}

.menu-bar2 ul li a:hover {
color: var(--color-primary);
}

.fas {
float: right;
margin-left:10px;
padding-top: 50px;
}

/* dropdown menu style */
.dropdown-menu-cliente {
display: none;
}

.menu-bar2 ul li:hover .dropdown-menu-cliente {
display: block;
position: absolute;
right: 5;
top: 100%;
background-color: var(--color-black);

}

.menu-bar2 ul li:hover .dropdown-menu-cliente ul {
display: block;
margin: 0px;

}

.menu-bar2 ul li:hover .dropdown-menu-cliente ul li {
width: 150px;
height: 35px;
padding: 5px;
}

.dropdown-menu-cliente {
display: none;
}

.cliente-acess{
display: flex;
align-items: center;
}

.cliente-acess img{
width: 40px;
height: 40px;
margin-left: 80%;
margin-top: -220px;
position: relative;

}

#ad{
width: 100%;
height: 180px;
}
div.head{
  background-color: #655643;
  width: 100%;
  height: 30px;
  margin: 0%;
  margin-top: 0px;
}

.menu-bar ul {
  list-style: none;
  display: flex;
  font-size: 15px;
}

.menu-bar ul li {
  /* width: 120px; */
  padding: 13px 30px;
  /* text-align: center; */
  position: relative;
  margin-left: 70px;
}

.menu-bar ul li a {
  font-size: 15px;
  color: var(--color-white);
  text-decoration: none;

  transition: all 0.3s;
}

.menu-bar ul li a:hover {
  color: var(--color-primary);
}

.fas {
  float: right;
  margin-left:10px;
  padding-top: 5px;
}

/* dropdown menu style */
.dropdown-menu {
  display: none;
}

.menu-bar ul li:hover .dropdown-menu {
  display: block;
  top: 100%;
  background-color: var(--color-black);
  
}

.menu-bar ul li:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
  
}

.menu-bar ul li:hover .dropdown-menu ul li {
  width: 800px;
  padding: 10px 0px 5px;
}

.dropdown-menu-1 {
  display: none;
}

#Tds-Dpt{
  list-style: none;
  margin-left: 70px;
  color: aliceblue;
  position: relative;
}
#logo-home{
  width: 90px;
  height: 90px;
  margin-left: 110px;
  margin-top: 10px;

}
#carrosel{
  height: 100%;
  width: 100%;
}
div.container-tds-dep{
  background-color: #655643;
  width: 100%;
  height: 50px;
  margin-top: 0px;
}
div.container{
  background-color:#7DA88E ;
  height: 130px;
  width: 100%;
  max-width: 2000px;
  margin-top: 0px;
 
  
}
#img-tds-dep{
  margin-top: 150px;
  width: 100%;
  height: 50px;
}

.container p{
  margin-left: 125px;
  margin-top:5px;
  font-size: 15px;
  color: white;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
  width: 300px;
  font-size: 13px;
  margin-top: -110px;
}
.vitrine-mês h1 {
text-align: center;
font-size: 25px;
color: white;

}
.vitrine-mês{
background-color: #7DA88E;
}

html{
 font-size: 62.5%;
 overflow-x: hidden;
 background-color: #7DA88E;
}
.products-container{
 margin-top: 50px;
}

.products-container-2{
 margin-top: 50px;
}

*********************
.container{
 max-width: 1200px;
 margin:0 auto;
 padding:3rem 2rem;
}

.container .title{
 font-size: 3.5rem;
 color:#444;
 margin-bottom: 3rem;
 text-transform: uppercase;
 text-align: center;
}

.container .products-container{
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
 gap:2rem;
 background-color: #7DA88E;
}

.container .products-container .product{
 text-align: center;
 padding:3rem 2rem;
 background: #fff;
 box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
 outline: .1rem solid #000000;
 outline-offset: -1.5rem;
 cursor: pointer;
}

.container .products-container .product:hover{
 outline: .2rem solid #222;
 outline-offset: 0;
}

.container .products-container .product img{
 height: 25rem;
}

.container .products-container .product:hover img{
 transform: scale(.9);
}

.container .products-container .product h3{
 padding:.5rem 0;
 font-size: 2rem;
 color:#444;
}

.container .products-container .product:hover h3{
 color:#27ae60;
}

.container .products-container .product .price{
 font-size: 2rem;
 color:#444;
}
.navegation{
 background-color: #7DA88E;
}

.products-preview{
 position: fixed;
 top:0; left:0;
 min-height: 100vh;
 width: 100%;
 background: rgba(0,0,0,.8);
 display: none;
 align-items: center;
 justify-content: center;
}

.products-preview .preview{
 display: none;
 padding:2rem;
 text-align: center;
 background: #fff;
 position: relative;
 margin:2rem;
 width: 40rem;
}

.products-preview .preview.active{
 display: inline-block;
}

.products-preview .preview img{
 height: 20rem;
}

.products-preview .preview .fa-times{
 position: absolute;
 top:1rem; right:1.5rem;
 cursor: pointer;
 color:#444;
 font-size: 4rem;
}

.products-preview .preview .fa-times:hover{
 transform: rotate(90deg);
}

.products-preview .preview h3{
 color:#444;
 padding:.5rem 0;
 font-size: 2.5rem;
}


.products-preview .preview p{
 line-height: 1.5;
 padding:1rem 0;
 font-size: 1.6rem;
 color:#777;
}

.products-preview .preview .price{
 padding:1rem 0;
 font-size: 2.5rem;
 color:#7DA88E;
}

.products-preview .preview .buttons{
 display: flex;
 gap:1.5rem;
 flex-wrap: wrap;
 margin-top: 1rem;
}

.products-preview .preview .buttons a{
 flex:1 1 16rem;
 padding:1rem;
 font-size: 1.8rem;
 color:#7DA88E;
 border:.1rem solid #000000;
 text-decoration: none;
}

.products-preview .preview .buttons a.cart{
 background: #7DA88E;
 color:#fff;
 text-decoration: none;
}

.products-preview .preview .buttons a.cart:hover{
 background: #111;
}

.products-preview .preview .buttons a.buy:hover{
 background: #444;
 color:#fff;
}


@media (max-width:991px){

 html{
    font-size: 55%;
 }

}

@media (max-width:768px){

 .products-preview .preview img{
    height: 25rem;
 }

}

@media (max-width:450px){

 html{
    font-size: 50%;
 }

}


.prod-procurados h1{
 text-align: center;
background-color: #7DA88E;
font-size: 25px;
color: white;
margin-top: 290px;

}

*****************************
.container2{
 max-width: 1200px;
 margin:0 auto;
 padding:3rem 2rem;
}

.container2 .title{
 font-size: 3.5rem;
 color:#000000;
 margin-bottom: 3rem;
 text-transform: uppercase;
 text-align: center;
}

.container2 .products-container-2{
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
 gap:2rem;
}

.container2 .products-container-2 .product2{
 text-align: center;
 padding:3rem 2rem;
 background: #fff;
 box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
 outline: .1rem solid #ccc;
 outline-offset: -1.5rem;
 cursor: pointer;
}

.container2 .products-container-2 .product2:hover{
 outline: .2rem solid #000000;
 outline-offset: 0;
}

.container2 .products-container-2 .product2 img{
 height: 20rem;
}

.container2 .products-container-2 .product2:hover img{
 transform: scale(.9);
}

.container .products-container .product h3{
 padding:.5rem 0;
 font-size: 2rem;
 color:#000000;
}

.container2 .products-container-2 .product2:hover h3{
 color:#27ae60;
}

.container2 .products-container-2 .product2 .price{
 font-size: 2rem;
 color:#000000;
}

.products-preview2{
 position: fixed;
 top:0; left:0;
 min-height: 100vh;
 width: 100%;
 background: rgba(0,0,0,.8);
 display: none;
 align-items: center;
 justify-content: center;
}

.products-preview2 .preview2{
 display: none;
 padding:2rem;
 text-align: center;
 background: #27ae60;
 position: relative;
 margin:2rem;
 width: 40rem;
}

.products-preview2 .preview2.active{
 display: inline-block;
}

.products-preview2 .preview2 img{
 height: 30rem;
}

.products-preview2 .preview2 .fa-times-2{
 position: absolute;
 top:1rem; right:1.5rem;
 cursor: pointer;
 color:#000000;
 font-size: 4rem;
}

.products-preview2 .preview2 .fa-times-2:hover{
 transform: rotate(90deg);
}

.products-preview2 .preview2 h3{
 color:#000000;
 padding:.5rem 0;
 font-size: 2.5rem;
}


.products-preview2 .preview2 p{
 line-height: 1.5;
 padding:1rem 0;
 font-size: 1.6rem;
 color:#000000;
}

.products-preview2 .preview2 .price{
 padding:1rem 0;
 font-size: 2.5rem;
 color:#27ae60;
}

.products-preview2 .preview2 .buttons{
 display: flex;
 gap:1.5rem;
 flex-wrap: wrap;
 margin-top: 1rem;
}

.products-preview2 .preview2 .buttons a{
 flex:1 1 16rem;
 padding:1rem;
 font-size: 1.8rem;
 color:#000000;
 border:.1rem solid #000000;
}

.products-preview2 .preview2 .buttons a.cart{
 background: #000000;
 color:#fff;
}

.products-preview2 .preview2 .buttons a.cart:hover{
 background: #111;
}

.products-preview2 .preview2 .buttons a.buy:hover{
 background: #000000;
 color:#fff;
}
footer{
position: relative;
background-color: #655643;
width:100%;
min-height: 250px;
display: flex;
margin-top: 100px;
padding: 5px;
 
}

footer .box{
 width: 520px;
 min-height: 150px;
 padding: 5px;
 margin: 5px;
}
.box p{
 font-size: 15px;
 color: white;
 cursor: pointer;
 font-style: italic;
 margin-top: 5px;
}
.box h1{
 font-size: 25px;
 color: white;
}
