body {
    font: normal 12pt Arial;
    background-color: #bad9cc;
    overflow: hidden
  }
  
  h1{
    margin-top: 170px;
    font-size: 30px;
    text-align: center;
    
  }
  
  section {
    background-color: #f2f2f29f;
    border-radius: 10px;
    padding: 35px;
    width: 400px;
    margin: auto;
    box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.415);
  
  }
  
  input {
    border: 2px solid black;
    border-radius: 18px;
    height: 20pt;
    width: 250pt;
    padding: 15px;
    font-size: 15px;
    margin: 15px;
    margin-top: 40px;
  }
  
  input#botão {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100pt;
    height: 50px;
    border-radius: 20px;
    background-color: #038c5a;
    color: white;
    text-decoration: #038c5a;

  
  }


  input#botão a{
    text-decoration: #038c5a;

  }

  
  footer {
    text-align: center;
    font-style: italic, bold;
  }
  
  #esquecisenha {
    text-decoration: none;
    padding: 35px;
  
  }
  
  .imagem-lateral {
    position: absolute;
    top: 370px;
    left: -180px;
    width: 100%;
    max-width: 500px;
  }
  .imagem-lateral2 {
    position: absolute;
    top: 660px;
    right: -120px;
    width: 100%;
    max-width: 260px;
  }
