body{
    font: normal 12pt Arial;
    background-color: #ffffff;
    overflow-x: hidden;
}

header{
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 60px;
  }

h1{
    color: black;
    text-align: center;
  }

 .form-control{
   margin-bottom: 10px;
    padding-bottom: 20px;
 } 

.container {
  height: auto;
    border: 2px solid #ffffff;
    background-color: white;
    border-radius: 15px;
    padding: 35px;
     width: 400px; 
    margin: auto;
    box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.415);
    
}


input{
  border: 1px solid black;
  border-radius: 18px;
  height: 10px;
  width: 300px;
  padding: 15px;
  font-size: 15px;
  margin: 15px;

}

.span-required{
  font-size: 0px;
  display: none;
  color: red;
}

button[type="submit"] {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    width: 150px;
    height: 45px;
    border-radius: 20px;
    background-color: #4ec4439f;
}

#botão:hover {
  background-color: #0fbd7d;
    transition: 0.2s;
}

footer {
    text-align: center;
    font-style: italic, bold;
  }
  .imagem-lateral {
    position: absolute;
    top: 580px;
    left: -205px;
    width: 470px;
    max-width: 100%;
    height: auto;
  }
  .imagem-lateral2 {
    position: absolute;
    top: 585px;
    right: -270px;
    width: 470px;
  }
  
  label{
    font-weight: bold;
    margin-left: 20px;
  }