*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  

}

html,body{
 height: 100%;
 font-family: Arial, Helvetica, sans-serif;
 background-color: rgb(212, 225, 212);
}

header{
  background-color: #038c5a;
  padding: 20px 2%;
  
}
#logo{
  
   height: 120px;
}
.prod-imagem{
  top: 200px;
 
}


.logo h2{
 font-size: 20px;
 float: right;
 color: white;
}

#account{
  height: 120px;
}

.acc{
  font-size: 15px;
  float: right;
}

.acc a{
  text-decoration: none;
  color: white;
}


.info-header{
  color: black;
  display: flex;
  justify-content: space-between;
  margin:auto 10px;
  margin-top: 5px;
}


.logo{
  margin-top: 5px;
}

.informations p {
  text-align: left;
  left: 200px;
}
input{
  height: 30px;
  width: 220pt;
  display: block;
  margin-bottom: 20px;
  
}
section.module.box{
   width: 80%;
   border: 1px solid #ccc;
   margin: 20px 0;
   padding: 20px 20px;
   border-radius: 5px;
   margin-left: 10%;
   margin-top: 50px;
   background-color: #f2f2f2;
}
#account{
  height: 60px;
  width: 60px;
}

.informations{
  margin-top: 40px;
}

.prod-imagem{
margin: 20px 0;
padding: 20px 20px;
margin-left: 60%;
margin-top: -10%;
height: 200px;
}

#picture__input {
display: none;
}

.picture {
width: 300px;
height: 500px;
background: #ddd;
display: block;
align-items: center;
top: 500px;
justify-content:center;
color: #aaa;
border: 1.5px dashed currentcolor;
cursor: pointer;
font-family: sans-serif;
transition: color 300ms ease-in-out, background 300ms ease-in-out;
outline: none;
overflow: hidden;
}

.picture:hover {
color: #777;
background: #ccc;
}

.picture:active {
border-color: turquoise;
color: turquoise;
background: #eee;
}

.picture:focus {
color: #777;
background: #ccc;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.picture__img {
max-width: 100%;
}
