*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

 }
 
 html,body{
   height: 100%;
   font-family: Arial, Helvetica, sans-serif;
 }
 
 header{
    background-color: #038c5a;
    padding: 20px 2%;
    
  }
  #logo{
    
     height: 120px;
  }
  .logo h2{
   font-size: 15px;
   float: right;
   color: white;
   
 
  }
  .logo-um h2{
   font-size: 15px;
  }
 
  .info-header{
    color: black;
    display: flex;
    justify-content: space-between;
    margin:auto 10px;
    margin-top: 5px;
  }
 
  .logo{
    margin-top: 5px;
  }
 
  .icon-header img{
    height: 40px;
    width: 40px;
    margin:0 30px;
    
 
  }
 
 .main{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
 }
 
 
  .sidebar{
    width: 20%;
    height: 100%;
    background-color: #d2d2db;
    padding: 0 8px;
  }
 
 .sidebar h1{
    color: black;
    font-size: 20px;
    margin-left: 20%;
    margin-top: 15px;
 }
 
 .sidebar a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    margin-top: 35px;
    margin-left: 10px;
    color: black;
 
 }
 
.informacao{
    color: black;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    
}

.informacao h3{
    margin: 30px;
    
}
  
.informacao{
    background-color: rgb(110, 133, 133);
    height: 10%;
    width: 70%;
    margin: 5%;
}

.informacao th{
  font-size: 15px;
  color: black;
  font-style: italic;
  margin: 20%;
}
