body{
    font: normal 12pt Arial;
    background-color: #ffffff;
}

header{
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 78px;
  }

h1{
    color: black;
    text-align: center;
  }

.container {
    border: 2px solid #ffffff;
    width: 450px;
    max-width: 100%;
    background-color: white;
    border-radius: 15px;
    padding: 35px;
     width: 400px; 
    margin: auto;
    box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.415);
    
}

input{
    border: 2px solid black;
    border-radius: 15px;
    height: 20pt;
    width: 250pt;
    padding: 15px;
    font-size: 15px;
    margin: 15px;
    margin-top: 10px;
}


input#botão {
    display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100pt;
  height: 50px;
  border-radius: 20px;
  background-color: #038c5a; 
  color: white;
  cursor: pointer;
}

form#botão:hover {
    background-color: #fafffc;
    transition: 0.2s;
}

footer {
    text-align: center;
    font-style: italic, bold;
  }
  .imagem-lateral {
    position: absolute;
    top: 720px;
    left: -205px;
    width: 470px;
    max-width: 100%;
    height: auto;
  }
  .imagem-lateral2 {
    position: absolute;
    top: 720px;
    right: -150px;
    width: 470px;
  }
  