body {
    background-color: #bad9cc;
  }
  
  :root {
    --color-primary: #000000;
    --color-white: #e9e9e9;
    --color-black: #7DA88E;
    --color-black-1: #212b38;
  }
  
  #barra{
    margin-top: 60px;
    position: absolute;
    margin-bottom: 180px;
  }
  
  .cliente-acess h1{
    font-size: 15px;
    color: white;
    margin-left: 100%;
    margin-top: 00px;
  }
  
  #logo-cliente{
  width: 30px;
  height: 30px;
  margin-left: 1210px;
  margin-top: -165px;
  }
  .menu-bar2 ul {
  list-style: none;
  display: flex;
  font-size: 15px;
  margin-left: 1200px;
  margin-top: -101px;
  }
  
  .menu-bar2 ul li {
  /* width: 120px; */
  padding: 0px 10px;
  /* text-align: center; */
  position: relative;
  margin-left: 30px;
  }
  
  .menu-bar2 ul li a {
  font-size: 15px;
  color: var(--color-white);
  text-decoration: none;
  
  transition: all 0.3s;
  }
  
  .menu-bar2 ul li a:hover {
  color: var(--color-primary);
  }
  
  .fas {
  float: right;
  margin-left:10px;
  padding-top: 50px;
  }
  
  /* dropdown menu style */
  .dropdown-menu-cliente {
  display: none;
  }
  
  .menu-bar2 ul li:hover .dropdown-menu-cliente {
  display: block;
  position: absolute;
  right: 5;
  top: 100%;
  background-color: var(--color-black);
  
  }
  
  .menu-bar2 ul li:hover .dropdown-menu-cliente ul {
  display: block;
  margin: 0px;
  
  }
  
  .menu-bar2 ul li:hover .dropdown-menu-cliente ul li {
  width: 150px;
  height: 35px;
  padding: 5px;
  }
  
  .dropdown-menu-cliente {
  display: none;
  }
  
  .cliente-acess{
  display: flex;
  align-items: center;
  }
  
  .cliente-acess img{
  width: 40px;
  height: 40px;
  margin-left: 80%;
  margin-top: -220px;
  position: relative;
  
  }
  
  #ad{
  width: 100%;
  height: 180px;
  }
  div.head{
    background-color: #655643;
    width: 100%;
    height: 30px;
    margin: 0%;
    margin-top: 0px;
  }
  
  .menu-bar ul {
    list-style: none;
    display: flex;
    font-size: 15px;
  }
  
  .menu-bar ul li {
    /* width: 120px; */
    padding: 13px 30px;
    /* text-align: center; */
    position: relative;
    margin-left: 70px;
  }
  
  .menu-bar ul li a {
    font-size: 15px;
    color: var(--color-white);
    text-decoration: none;
  
    transition: all 0.3s;
  }
  
  .menu-bar ul li a:hover {
    color: var(--color-primary);
  }
  
  .fas {
    float: right;
    margin-left:10px;
    padding-top: 5px;
  }
  
  /* dropdown menu style */
  .dropdown-menu {
    display: none;
  }
  
  .menu-bar ul li:hover .dropdown-menu {
    display: block;
    top: 100%;
    background-color: var(--color-black);
    
  }
  
  .menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
    
  }
  
  .menu-bar ul li:hover .dropdown-menu ul li {
    width: 800px;
    padding: 10px 0px 5px;
  }
  
  .dropdown-menu-1 {
    display: none;
  }
  
  #Tds-Dpt{
    list-style: none;
    margin-left: 70px;
    color: aliceblue;
    position: relative;
  }
  #logo-home{
    width: 90px;
    height: 90px;
    margin-left: 110px;
    margin-top: 10px;
  
  }
  
  div.container-tds-dep{
    background-color: #655643;
    width: 100%;
    height: 50px;
    margin-top: 0px;
  }
  
  div.container{
    background-color:#7DA88E ;
    height: 130px;
    width: 100%;
    max-width: 2000px;
    margin-top: 0px;
   
    
  }
  #img-tds-dep{
    margin-top: 150px;
    width: 100%;
    height: 50px;
  }
  
  .container p{
    margin-left: 125px;
    margin-top:5px;
    font-size: 15px;
    color: white;
  }
  
  form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input[type="text"] {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 300px;
    font-size: 13px;
    margin-top: -110px;
  }
  div.container-tds-dep{
    background-color: #655643;
    width: 100%;
    height: 50px;
    margin-top: 0px;
  }
  div.container{
    background-color:#7DA88E ;
    height: 130px;
    width: 100%;
    max-width: 2000px;
    margin-top: 0px;
   
    
  }
  #img-tds-dep{
    margin-top: 150px;
    width: 100%;
    height: 50px;
  }
  
  .container p{
    margin-left: 125px;
    margin-top:5px;
    font-size: 15px;
    color: white;
  }
  
  form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input[type="text"] {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 300px;
    font-size: 13px;
    margin-top: -110px;
  }
  
  
  #minhaconta{
    margin-top: 10%;
  }
  
  .carrinho{
    margin-top: 10%;
    margin-left: 90%;
  }
  
  #Tds-Dpt{
    list-style: none;
    margin-left: 70px;
    color: aliceblue;
    position: relative;
  }
  
  #logo-home{
    width: 90px;
    height: 90px;
    margin-left: 110px;
    margin-top: 10px;
  }
  
  div.container-tds-dep{
    background-color: #655643;
    width: 100%;
    height: 50px;
    margin-top: 0px;
  }
  
  div.container{
    background-color:#7DA88E ;
    height: 130px;
    width: 100%;
    max-width: 2000px;
    margin-top: 0px;
  }
  
  .container p{
    margin-left: 125px;
    margin-top:5px;
    font-size: 15px;
  }
  
  input[type="text"] {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 300px;
    font-size: 13px;
    margin-top: -150px;
  }
  button[type="submit"] {
    padding: 10px;
    background-color: #D2D2DB;
    color: #000000;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 13px;
    margin-top: -150px;
  }
  
  .square{
    display: block;
    float: left;
    width: 400px; 
    height: 400px;
    letter-spacing: 2dp;
    background-color: #9bcab9;
    border-radius: 0px 15px 25px 1px ;
  }
  
  .square h3{
    text-align: center;
    margin-top: 10px;
    margin-left: -15px;
  }
  
  .img{
    margin-top: 2%;
    float: left;
    margin-right: 10%;
    background-image: url(/img/123456.png.png);
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-repeat: none;
    background-position: 0;
    background-size: 100px;
  }
  
  .tetux{
    float: left;
    margin-top: 5%;
  }
  
  .perfius{
    margin-top: 10%;
    margin-left: 30px;
  }
  
  .divisor{
    margin-top: 10px;
    border-left: 400px solid black;
    height: 2px;
    width: 1000px;
    display: inline-block;
  }
  
  .info-1{
    margin-left: 5%;
    margin-top: 2%;
    float: left;
    display: block;
  }

#form{
    display: block;
    margin-top: 10px;
    

}

#form input{
    margin-left: 10px;
    align-items: center;  
}


label{
    margin-left: 10px;
    font-weight: 600;
}


#nome, #tel, #email  {
    border: 1px solid black;
    border-radius: 18px;
    height: 40px;
    width: 225pt;
    font-size: 15px;
    margin-top: 5px;  
}
  
  .span-required{
  font-size: 13px;
  font-weight: bold;
  display: none;
  color: red;;
  margin-top: 1%;
  margin-left: 12px;
  }
  
  .link{
    margin-top: 15%;
  }
  
  .link img{
    height: 25px;
    width: 25px;
  }
  
  #meuperfil{
    text-decoration: none;
    color: black;
    margin-left: 5%;
    
  }
  
  #meuperfil:hover{
    color: #038C5A;
  }
  
  #redefinir_senha{
    text-decoration: none;
    color: black;
    margin-left: 5%;
  }
  
  #redefinir_senha:hover{
    color: #038C5A;
  }
  
  #redefinir_senha a{
    margin-top: 100px;
  }
  
  .buttons{
    margin-top: 34%;
    margin-left: 83%;
  }
  

  
  button[type="submit"] {
    background-color: #038C5A;
    color: #e9e9e9;
    height: 50px;
    width: 200px;
    border-radius: 50px;
    margin-top: 5%;
    margin-left: 200%;
    display: block;
  }
  
  
  footer{
    position: relative;
    background-color: #655643;
    display: flex;
    margin-top: 100px;
    padding: 5px;
    width: 100%;
  }
    
  footer .box{
    width: 520px;
    min-height: 150px;
    padding: 5px;
    margin: 5px;
  }
  
  .box p{
    font-size: 15px;
    color: white;
    cursor: pointer;
    font-style: italic;
    margin-top: 5px;
  }
  
  .box h1{
    font-size: 25px;
    color: white;
  }
  
  
  
  
