body{
    background: linear-gradient(#454645, #04e948);
     font-family: Arial, Helvetica, sans-serif;
     overflow: hidden;
}

.area-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#375e3d, #04e948);
    width: 400px;
    height: 400px;
    padding: 35px;
    border-radius: 10px;
}

.login form{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.login input{
    margin-top: 10px;
    background-color: rgb(42, 35, 35);
    border: none;
    height: 45px;
    outline: none;
    border-radius: 8px;
    color:#CBD0F7;
    font-size: 14px;
}

.login img{
    width: 75px;
    height:auto;
}

input::placeholder{
    color:#CBD0F7;
    font-size: 14px;

}
form [type ="submit"]{
    display: block;
    background-color: #215c2d;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

p{
    color: #CBD0F7;

}

a{
    color: #000000;
    text-decoration: none;
    margin-left: px;
}