@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

header {
    background-color: #639379;
    width: 100%;
    height: 100px;
    display: flex;
    display: inline-flex;
}

.logo img{
    height: 70px;
    width: 70px;
    margin-left: 300px;
    margin-top: 17px;
}

.carrinho{
    margin-left: 25%;
    display: flex;
    opacity: 0.55;
}

.carrinho img{
    height: 50px;
    margin-top: 25px;
}

.carrinho h2{
    margin-top: 38px;
    margin-left: 10px;
}

.pagamento{
    margin-left: 30rem;
    display: flex;
}

.pagamento img{
    height: 50px;
    margin-top: 25px;
}

.pagamento h2{
    margin-top: 38px;
    margin-left: 10px;
}



.main{
    margin-left: 10%;
    margin-top: 2%;
    width: 100%;
    height: 100%;
}

.revisao h1{
    font-size: 40px;
    font-family: 'Bree Serif', serif;
    font-weight: normal; 
    
}

.revisao a{
    font-size: 30px;
    color: #105B34;
}

.info{
    float: left;
    white-space: nowrap;
    margin-top: 25px;
    font-family: 'Bree Serif', serif;
    font-size: 25px;
    width: fit-content;
}


.img_cartao{
    float: right;
    margin-right: 25%;
    margin-top: -125px;
    width: 300px;
}

.total{
    float: right;
    margin-top: -8rem;
    margin-right: -16rem;
    white-space: nowrap;
    font-family: 'Bree Serif', serif;
    font-size: 23px;
    width: fit-content;
}

.tipo_pag{
    background-color: #F2EFEB;
    margin-top: 13%;
    margin-left: 25%;
    width: 50%;
    height: 300px;
    border-radius: 10px;
}

.pag_1{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.pag_1 img{
    height: 30px;
    margin-left: 10px;
}

.pag_1 h2{
    margin-left: 10px;
}

.pag_1 h3{
    opacity: 0.5;
    margin-top: 60px;
    margin-left: -35px;
}

.pag_2{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.pag_2 img{
    height: 30px;
    margin-left: 10px;
}

.pag_2 h2{
    margin-left: 10px;
}

.pag_2 h3{
    opacity: 0.5;
    margin-top: 60px;
    margin-left: -187px;
}

.button input{
    margin-top: 20px;
    margin-left: 40%;
    background-color: #038c5a;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    font-size:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff; 
  }


  
