* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   overflow: hidden;
}

html,
body {
   height: 100%;
   font-family: Arial, Helvetica, sans-serif;
   background-color: rgb(212, 225, 212);

}


#pesquisaP {
   height: 30px;
   width: 120px;
   font-size: 12px bold;
   margin-top: 80px;
   color: black;
   margin-left: 30px;
}

#barraP {
   width: 250px;
   height: 30px;
   margin-top: 80px;
}


.api {
   margin-top: 200px;
   margin-left: -220px;
}

header {
   background-color: #038c5a;
   padding: 5px 2%;
   height: 80px;

}

#logo {
   height: 7px;
   padding: 7px 2%;
   height: 80px;
   margin-top: -45px;

}

.logo h2 {
    font-size: 15px;
    float: right;
    color: white;
    text-align: center;
    display: flex;
    margin-top: 15%;
    margin-left: 20px;
}

.addProduto h1 {
   margin-top: 50px;
   font-size: 30px;
   margin-left: 70px;
}

#AddNew {
   width: 120px;
   height: 30px;
   margin-top: 50px;
   margin-left: 50px;
}

.icon-header h1 {
   font-size: 15px;
   float: right;
   color: white;
   margin-top: 10px;
   text-align: center;
   display: flex;
   margin-top: 15%;
   margin-left: 10px;
}

.logo-um h2 {
   font-size: 15px;
}

.info-header {
   color: black;
   display: flex;
   justify-content: space-between;
   margin: auto 10px;
   margin-top: 5px;
}

.logo img {
   height: 80px;
   margin-top: -20px;
   padding: 7px 2%;
}

.logo {
   margin-top: 5px;
}

.icon-header img {
   height: 40px;
   width: 40px;
   margin-top: 10px;
}

.main {
   display: flex;
   flex-wrap: wrap;
   height: 100%;
}


.sidebar {
   width: 17%;
   height: 100%;
   background-color: #d2d2db;
   padding: 0 8px;
}

.sidebar h1 {
   color: black;
   font-size: 20px;
   margin-left: 20%;
   margin-top: 20px;
}

.sidebar a {
   display: block;
   text-decoration: none;
   font-size: 17px;
   margin-top: 35px;
   margin-left: 30px;
   color: black;

}

.addProduto {
   display: flex;
   align-items: flex-start;
   position: static;




}

.infClick {
   display: flex;
   position: absolute;
   right: 250px;
   top: 150px;
}

.container {
   background-color: #d2d2db;
   margin-top: 10%;
   height: 39%;
   width: 55%;
   margin-left: 25px;
   display: flex;
   flex-direction: column;
}

.container-items {
   display: inline-flex;
}

.container-items img {
   height: 15px;
   width: 15px;
   margin: 30px;
}

.container-items h4 {
   margin-top: 3%;
   margin-left: 10%;
}

.tabela {
   display: inline-flex;
   background-color: #F2F2F2;
}

.tabela {
   height: 15px;
   width: 15px;
   margin: 30px;
}