*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html,body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #038c5a;
  padding: 5px 2%;
  height: 80px;
}

#logo{
  height: 7px;
  padding: 7px 2%;
  height: 80px;
  margin-top: -45px;
}

.logo h2 {
  font-size: 15px;
  float: right;
  color: white;
  margin-top: 85px;
  text-align: center;
  display: flex;
  margin-top: 12%;
  margin-left: 20px;
}

.icon-header h2 {
  font-size: 15px;
  float: right;
  color: white;
  margin-top: 85px;
  text-align: center;
  display: flex;
  margin-top: 15%;
  margin-left: 20px;
}

.logo-um h2 {
  font-size: 15px;
  margin-top: 85px;
}

.info-header {
  color: black;
  display: flex;
  justify-content: space-between;
  margin: auto 10px;
  margin-top: 5px;
}

.logo {
  margin-top: 5px;
}

.icon-header img {
  height: 40px;
  width: 40px;
  margin-top: 10%;
}

.main {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.main {
  background-color: rgb(212, 225, 212);
}


.sidebar {
  width: 17%;
  height: 100%;
  background-color: #d2d2db;
  padding: 0 8px;
}

.sidebar h1 {
  color: black;
  font-size: 20px;
  margin-left: 20%;
  margin-top: 20px;
}

.sidebar a {
  display: block;
  text-decoration: none;
  font-size: 17px;
  margin-top: 35px;
  margin-left: 30px;
  color: black;

}

.nome h1{
    margin-top: 15%;
    margin-left: 20px;
   
}

.container{
    background-color: #d2d2db;
    margin-left: 5%;
    margin-top: 10%;
    height: 39%;
    width:30%;
   
    display: flex;
    flex-direction: column;
}

.container-items{
    display: inline-flex;
}

.container-items img{
    height: 15px;
    width: 15px;
    margin: 30px;
}

.container-items h4{
  margin-top: 3%;
  margin-left: 10%;
}



.funcionarios{
    display: inline-flex;
    background-color: #F2F2F2;
}

.funcionarios img{
    height: 15px;
    width: 15px;
    margin: 30px;
}

.funcionarios h4{
    margin-top: 3%;
    margin-left: 10%;

}

#ID{}

