*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 html,body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
 
 }
 header{
    background-color: #038c5a;
    padding: 7px 2%;
   
 }
 #logo{
    height: 80px;
 
 }
 .logo h2{
   font-size: 15px;
   float: right;
   color: white;
   text-align: center;
   display: flex;
   margin-top:20%;
   margin-left: 20px;
 }
 
 .icon-header p{
   color: white;
   margin-top: 10%;
   margin-left: 10px;
 }
 
 .logo-um h2{
   font-size: 15px;
 }
 
 .info-header{
    color: black;
    display: flex;
    justify-content: space-between;
    margin:auto 10px;
    margin-top: 5px;
 }
 
 .logo{
    margin-top: 5px;
 }
 
 .icon-header img{
    height: 40px;
    width: 40px;
    margin:0 30px;
 }
 
 .main{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
 }
 
 
 .sidebar{
    width: 20%;
    height: 100%;
    background-color: #d2d2db;
    padding: 0 8px;
 }
 
 .sidebar h1{
    color: black;
    font-size: 20px;
    margin-left: 20%;
    margin-top: 15px;
 }
 
 .sidebar a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    margin-top: 35px;
    margin-left: 10px;
    color: black;
 
 }

 .addProduto{
   display: flex;
   align-items: flex-start;
   position: static;
 
   


 }
 
 .infClick{
   display: flex;
   position: absolute;
   right: 250px;
   top: 150px;
 }

 .tabela{
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 400px;

    top: 200px;
 }

 
 
 
