*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 .main {
   background-color: rgb(212, 225, 212);
 }
 html,body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
 
 }
 header{
    background-color: #038c5a;
    padding: 5px 2%;
    height: 80px;
   
 }
 #logo{
   padding: 7px 3%;
   height: 80px;
   margin-top: -43px;
   
 
 }
 .logo h2{
   font-size: 15px;
  float: right;
  color: white;
  margin-top: 85px;
  text-align: center;
  display: flex;
  margin-top: 18%;
  margin-left: 20px;
 }
 
 .icon-header h2{
   font-size: 15px;
   float: right;
   color: rgb(255, 255, 255);
   margin-top: 85px;
   text-align: center;
   display: flex;
   margin-top: -32%;
   margin-left: 40px;
 }
 
 .logo-um h2{
   font-size: 15px;
 }
 
 .info-header{
    color: black;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    margin-top: 5px;
 }
 
 .icon-header img{
    height: 40px;
    width: 40px;
    margin: 10%;
 }
 
 .main{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
 }
 
 
 .sidebar{
    width: 17%;
    height: 100%;
    background-color: #d2d2db;
    padding: 0 8px;
 }
 
 .sidebar h1{
    color: black;
    font-size: 20px;
    margin-left: 20%;
    margin-top: 15px;
 }
 .addProduto h1{
   margin-top: 50px;
  font-size: 30px;
  margin-left: 70px;
 }
 .sidebar a{
    display: block;
    text-decoration: none;
    font-size: 17px;
    margin-top: 35px;
    margin-left: 30px;
    color: black;
 
 }

 .addProduto{
   display: flex;
   align-items: flex-start;
   position: static;
 
   


 }
 
 .infClick{
   display: flex;
   position: absolute;
   right: 250px;
   top: 150px;
 }

 .tabela{
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 400px;

    top: 200px;
 }

 
 
 
 
