*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*rgb(212, 225, 212);*/
}

header {
    background-color: #7DA88E;
    width: 100%;
    height: 100px;
    display: flex;

}
header #arvorelogo{
  height: 100px;
  width: 100px;
  margin-left: 10%;
}
header #carrinho{
  height: 50px;
  width: 50px;
  margin-left: 65%;
  margin-top: 1.5rem;
}
header h1{
  font-size: 20px;
  margin-left: 20px;
  margin-top: 2.1rem;
}
.cupons h1{
  font-size: 20px;
  margin-left: 45%;
}
.cupons input{
  width: 260px;
  height: 35px;
  margin-left:45%;
  padding: 15px;
  background-color: #ffffff;
}

.logo {
    width: 25%;
    margin-left: 20%;
    display: flex;

}


.logo img{
    height: 70px;
    width: 70px;
    margin-top: 17px;
}




.carrinho{
    width: 25%;
    margin-left: 25px;
    display: flex;
    opacity: 0.55;
}

.carrinho img{
    height: 50px;
    margin-top: 25px;
}

.carrinho h2{
    margin-top: 38px;
    margin-left: 15px;
}

.pagamento{
    width: 25%;
    margin-left: 3%;
    display: flex;
}

.pagamento img{
    height: 50px;
    margin-top: 25px;
}

.pagamento h2{
    margin-top: 38px;
    margin-left: 10px;
}


.main_Cont{
    float: left;
    white-space: nowrap;
   margin-left: 3%;
   margin-top: 3%;
  }
  
  .First_Tit{
    float: left;
    margin-left: 10%;
    margin-bottom: 3%;
  }
  
  .Car_Prod{
    display: flex;
    position: sticky;
    margin-top: 10%;
  }
  
  .Prod_Name{
    float: left;
    margin-left: 2%;
   
  }
  
  .Prod_Qtd{
    
    margin-top: 10%;
  }
  
  .Prod_Qtd .qty{
    margin-left: 50%;
  }
  
  .button{
    margin-top: 20%;
  }

  .button input{
    margin-left: 80%;
    background-color: #038c5a;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    font-size:18px;
    margin-top: 20px;
    color: #ffffff; 
    margin-bottom: 3%;
    cursor: pointer;
  }

  .button input:hover{
    margin-left: 80%;
    background-color: #36bb8a;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    font-size:20px;
    color: #ffffff; 
    cursor: pointer;
  }

  .button input:active{
    background-color: #c7f8e6;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    font-size:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff; 
    cursor: pointer;
  }
  
  .Quantil{
    margin-top: 3%;
    padding: 10px;
    border: 1px solid #000000;
    width: 50px;
    border-radius: 10px;
    background-color: #ffffff;
  }

  .QtdProdNumb{
    font-size: 20px;
    width: 30px;
    border: none;
    text-decoration: none;
    background-color: #ffffff;
  }

  .Prof_Preco{
   display: flex;
   float: left;
   margin-top: 15%;
  }
  
  .Prof_Preco .Real_Preco{
    margin-left: 40%;
  }
  .Car_info{
    position: fixed;
  }
  
  
  .Sec_Cont{
    position: sticky;
    display: flex;
    margin-left: 40%;
    width: 40%;
    margin-top: -30%;
  }
  
  .Second_Tit{
    margin-top: 5%;
    margin-left: 45%;
  }
  
  
  .Total_Price{
  
    margin-bottom: 5%;
    margin-left: 50%;
  }

  .Frete_Info{
    display: flex;
    margin-bottom: 30%;
  }
  
.Remove input{
  float: left;
  margin-top: 17%;
  background-color: #c84648;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 15px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
font-size: 16px;}

.Remove input:hover{
  float: left;
  margin-top: 17%;
  background-color: #c46365;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 15px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
font-size: 16px;}

.Remove input:active{
  float: left;
  margin-top: 17%;
  background-color: #f1afb0;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 15px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
font-size: 16px;}

  .Frete_Info .Free{
    margin-left: 50%;
    color: #038c5a;
  }
  
  
  
.arvore{

    margin-bottom: 0px; 
    position: sticky;
    margin-left: 80%;
    opacity: 0.55;
  }
  
.arvore img{
    height:16rem;
    width: 15rem;
    float: inline-end;
  }

  .divisor{
    position: sticky;
    margin-left: 45%;
    margin-right: 55%;
    margin-top: 3%;
    border-left: 3px solid black;
    height:700px;
    
  }
  
