body {
  font: normal 12pt Arial;
}
header {
  color: rgb(0, 0, 0);
  text-align: center;
}

section {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  width: 400px;
  margin: auto;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.415);
  
}
input{
    border: 2px solid black;
    height: 25pt;
    width: 240pt;
    padding: 5px;
    font-size: 15px;
    margin: 25px;
}
input#botão{
  width: 100pt;
  height: 50px;

}
footer {
  text-align: center;
  font-style: italic , bold;
}
