body {
  font: normal 12pt Arial;
  background-color: #bad9cc;
  overflow: hidden
}

header {
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 50px;
  
  
}

h1{
  font-size: 30px;
  margin-top: 170px;
  
}
.info{
  display: none;
  font-size: 15px;
  margin-top: 10px;
  line-height: 20px;
  color: red;
  
} 

section {
  background-color: #f2f2f29f;
  border-radius: 10px;
  padding: 35px;
  width: 400px;
  margin: auto;
  box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.415);
  

}

input {
  border: 2px solid black;
  border-radius: 10px;
  height: 20pt;
  width: 100%;
  max-width: 300px;
  padding: 15px;
  font-size: 15px;
  margin: 15px;
  margin-top: 40px;
}
input#text , #senha{
  margin: 23px;
}

button#botão {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100pt;
  height: 50px;
  border-radius: 25px;
  background-color: #038c5a;
  color: white;
  border-color: black;
  margin-top: 40px;
  text-decoration: none;

}

footer {
  text-align: center;
  font-style: italic, bold;
}

#esquecisenha {
  text-decoration: none;
  margin-top: 10%;
  margin-left: 5%;
  margin-top: 50px;

}

.imagem-lateral {
  position: absolute;
  top: 370px;
  left: -180px;
  width: 100%;
  max-width: 500px;
}
.imagem-lateral2 {
  position: absolute;
  top: 660px;
  right: -120px;
  width: 100%;
  max-width: 260px;
}
.feed{
  font-size: 16px;
  color: red;
  margin-left: 5%;
 
}


@media screen and (max-width:768px) {
    .imagem-lateral{
      
    }
  
}
@media screen and (max-width:1440px) {
    .imagem-lateral{
      width: 100%;
      left: -220px;
      top: 350px;
      max-width: 500px;
    }
    .imagem-lateral2{
      width: 100%;
      top: 640px;
      right: 55px;

    }
    .header{
      margin-top: 30px;
      
    }
}



/*
 input#senha {
  transform: translateY(-50%);
  background-image: url('.img/hidden.png');
  background-size: cover;
  cursor: pointer;
} */
