body {
  font: normal 12pt Arial;
  background-color: #ffffff;
  overflow: hidden
}

header {
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 50px;
  
  
}
h1{
  font-size: 30px;
  
}

section {
  background-color: white;
  border-radius: 10px;
  padding: 35px;
  width: 400px;
  margin: auto;
  box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.415);

}

input {
  border: 2px solid black;
  border-radius: 15px;
  height: 20pt;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  font-size: 15px;
  margin: 15px;
  margin-top: 40px;
}

input#botão {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100pt;
  height: 50px;
  border-radius: 20px;
  background-color: #038c5a;
  color: white;

}

footer {
  text-align: center;
  font-style: italic, bold;
}

#esquecisenha {
  text-decoration: none;
  margin-top: 10%;
  margin-left: 5%;

}

.imagem-lateral {
  position: absolute;
  top: 113px;
  left: -210px;
  width: 100%;
  max-width: 500px;
}
.imagem-lateral2 {
  position: absolute;
  top: 402px;  
  right: -120px;
  width: 100%;
  max-width: 260px;
}
.feed{
  font-size: 15px;
  color: red;
  margin-left: 5%;
 
}



@media screen and (max-width:768px) {
    .imagem-lateral2{
      width:100%;
      top: 770px; 
      max-width: 260px;
      right: -120px;

    }
    .imagem-lateral{
      top: 1024px;
      width: 100%;
      max-width: 300px;
      left: -115px;
    }
    .header{
      margin-top: 250px;
    }
  
}
@media screen and (max-width:1024px) {
    .imagem-lateral{
      width: 100%;
      left: -220px;
      top: 450px;
      max-width: 500px;
    }
    .imagem-lateral2{
      width: 100%;
      top: 700px;

    }
    .header{
      max-width: 200px;
    }
}



/*
 input#senha {
  transform: translateY(-50%);
  background-image: url('.img/hidden.png');
  background-size: cover;
  cursor: pointer;
} */
